In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("lastfm.csv")

### Для анализа выберем Японию и США

In [3]:
japan_data = data.loc[data["country"] == 'Japan']
usa_data = data.loc[data["country"] == 'United States']
options = ['Japan', 'United States']
true_data = data.loc[data["country"].isin(options)]
true_data

         user                    artist sex        country
16          3          devendra banhart   m  United States
17          3          boards of canada   m  United States
18          3                 cocorosie   m  United States
19          3                aphex twin   m  United States
20          3         animal collective   m  United States
...       ...                       ...  ..            ...
289649  19701  architecture in helsinki   f  United States
289650  19701                    beirut   f  United States
289651  19701                 the knife   f  United States
289652  19701                  ladytron   f  United States
289653  19701     the smashing pumpkins   f  United States

[61819 rows x 4 columns]

In [4]:
true_data.artist.value_counts().sort_values(ascending = False)

the beatles            822
radiohead              703
death cab for cutie    526
coldplay               463
modest mouse           421
                      ...
parov stelar             1
coma                     1
akurat                   1
ska-p                    1
lacrimosa                1
Name: artist, Length: 994, dtype: int64

### Подготовка данных для ассоциативного анализа

#### Выполним бинаризацию

In [5]:
pivoted_artist = true_data[['user', 'artist']].pivot_table(index='user', columns='artist',aggfunc=any, fill_value=False).astype(int)
pivoted_artist_jp = japan_data[['user', 'artist']].pivot_table(index='user', columns='artist',aggfunc=any, fill_value=False).astype(int)
pivoted_artist_usa = usa_data[['user', 'artist']].pivot_table(index='user', columns='artist',aggfunc=any, fill_value=False).astype(int)

pivoted_country = true_data[['user', 'country']].pivot_table(index='user', columns='country',aggfunc=any, fill_value=False).astype(int)
pivoted_country_jp = japan_data[['user', 'country']].pivot_table(index='user', columns='country',aggfunc=any, fill_value=False).astype(int)
pivoted_country_usa = usa_data[['user', 'country']].pivot_table(index='user', columns='country',aggfunc=any, fill_value=False).astype(int)

pivoted_sex = true_data[['user', 'sex']].pivot_table(index='user', columns='sex',aggfunc=any, fill_value=False).astype(int)
pivoted_sex_jp = japan_data[['user', 'sex']].pivot_table(index='user', columns='sex',aggfunc=any, fill_value=False).astype(int)
pivoted_sex_usa = usa_data[['user', 'sex']].pivot_table(index='user', columns='sex',aggfunc=any, fill_value=False).astype(int)

In [6]:
artist_sex_japan = pd.concat([pivoted_artist_jp, pivoted_sex_jp], axis=1)
artist_sex_japan

,...and you will know us by the trail of dead,2pac,3 doors down,44,50 cent,65daysofstatic,[unknown],a fine frenzy,a perfect circle,a tribe called quest,...,weezer,wilco,wolfgang amadeus mozart,wu-tang clan,yann tiersen,yeah yeah yeahs,yo la tengo,Édith piaf,f,m
user,,,,,,,,,,,,,,,,,,,,,
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
59,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
160,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
222,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19164,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19246,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19317,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19524,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19585,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [7]:
artist_sex_usa = pd.concat([pivoted_artist_usa, pivoted_sex_usa], axis=1)
artist_sex_usa

,...and you will know us by the trail of dead,2pac,3 doors down,30 seconds to mars,311,36 crazyfists,44,50 cent,65daysofstatic,[unknown],...,wolfgang amadeus mozart,wu-tang clan,yann tiersen,yeah yeah yeahs,yellowcard,yo la tengo,zero 7,Édith piaf,f,m
user,,,,,,,,,,,,,,,,,,,,,
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
32,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19674,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19682,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19701,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [8]:
artist_country_jp = pd.concat([pivoted_artist_jp, pivoted_country_jp], axis=1)
artist_country_jp

,...and you will know us by the trail of dead,2pac,3 doors down,44,50 cent,65daysofstatic,[unknown],a fine frenzy,a perfect circle,a tribe called quest,...,vnv nation,weezer,wilco,wolfgang amadeus mozart,wu-tang clan,yann tiersen,yeah yeah yeahs,yo la tengo,Édith piaf,Japan
user,,,,,,,,,,,,,,,,,,,,,
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
59,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
160,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
222,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19164,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19246,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19317,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19524,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19585,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [9]:
artist_country_usa = pd.concat([pivoted_artist_usa, pivoted_country_usa], axis=1)
artist_country_usa

,...and you will know us by the trail of dead,2pac,3 doors down,30 seconds to mars,311,36 crazyfists,44,50 cent,65daysofstatic,[unknown],...,within temptation,wolfgang amadeus mozart,wu-tang clan,yann tiersen,yeah yeah yeahs,yellowcard,yo la tengo,zero 7,Édith piaf,United States
user,,,,,,,,,,,,,,,,,,,,,
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
32,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19674,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19682,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19701,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [10]:
artist_country = pd.concat([pivoted_artist, pivoted_country], axis=1)
artist_country

,...and you will know us by the trail of dead,2pac,3 doors down,30 seconds to mars,311,36 crazyfists,44,50 cent,65daysofstatic,[unknown],...,wolfgang amadeus mozart,wu-tang clan,yann tiersen,yeah yeah yeahs,yellowcard,yo la tengo,zero 7,Édith piaf,Japan,United States
user,,,,,,,,,,,,,,,,,,,,,
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19674,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19682,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19701,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [11]:
artist_sex = pd.concat([pivoted_artist, pivoted_sex], axis=1)
artist_sex

,...and you will know us by the trail of dead,2pac,3 doors down,30 seconds to mars,311,36 crazyfists,44,50 cent,65daysofstatic,[unknown],...,wolfgang amadeus mozart,wu-tang clan,yann tiersen,yeah yeah yeahs,yellowcard,yo la tengo,zero 7,Édith piaf,f,m
user,,,,,,,,,,,,,,,,,,,,,
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19674,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19682,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19701,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

### Поиск характерных комбинаций

In [12]:
import mlxtend.frequent_patterns as ml

In [13]:
apriori_sex_jp = ml.apriori(artist_sex_japan, min_support=0.03, use_colnames=True)
apriori_sex_jp

      support                    itemsets
0    0.049505                 ([unknown])
1    0.049505                       (air)
2    0.044554               (alicia keys)
3    0.044554         (animal collective)
4    0.069307                (aphex twin)
..        ...                         ...
148  0.034653     (the rolling stones, m)
149  0.039604  (the smashing pumpkins, m)
150  0.039604              (tom waits, m)
151  0.039604                     (u2, m)
152  0.059406             (underworld, m)

[153 rows x 2 columns]

In [14]:
apriori_sex_jp_rules = ml.association_rules(apriori_sex_jp, metric="confidence", min_threshold=0.85)
apriori_sex_jp_rules.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(beck),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
7,(frank zappa),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
18,(rush),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
17,(nirvana),(m),0.059406,0.772277,0.059406,1.000000,1.294872,0.013528,inf
14,(metallica),(m),0.049505,0.772277,0.049505,1.000000,1.294872,0.011273,inf
12,(led zeppelin),(m),0.059406,0.772277,0.059406,1.000000,1.294872,0.013528,inf
11,(judas priest),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
13,(maroon 5),(m),0.039604,0.772277,0.039604,1.000000,1.294872,0.009019,inf
3,(bob dylan),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
5,(charlie parker),(m),0.039604,0.772277,0.039604,1.000000,1.294872,0.009019,inf
19,(squarepusher),(m),0.059406,0.772277,0.054455,0.916667,1.186966,0.008578,2.732673
15,(michael jackson),(m),0.054455,0.772277,0.049505,0.909091,1.177156,0.007450,2.504950
9,(jack johnson),(m),0.049505,0.772277,0.044554,0.900000,1.165385,0.006323,2.277228
24,(tom waits),(m),0.044554,0.772277,0.039604,0.888889,1.150997,0.005196,2.049505
1,(black eyed peas),(m),0.044554,0.772277,0.039604,0.888889,1.150997,0.005196,2.049505
23,(the rolling stones),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
22,(the doors),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
21,(t. rex),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
20,(steely dan),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
8,(herbie hancock),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
2,(black sabbath),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
16,(ne-yo),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
4,(bob marley & the wailers),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
6,(elliott smith),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
10,(john coltrane),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
25,(underworld),(m),0.069307,0.772277,0.059406,0.857143,1.109890,0.005882,1.594059

In [15]:
apriori_sex_usa = ml.apriori(artist_sex_usa, min_support=0.05, use_colnames=True)
apriori_sex_usa

      support                     itemsets
0    0.058176                        (air)
1    0.059552                (andrew bird)
2    0.079862          (animal collective)
3    0.074010                (arcade fire)
4    0.067126               (beastie boys)
..        ...                          ...
144  0.068158               (the shins, m)
145  0.056454   (the smashing pumpkins, m)
146  0.064028       (the white stripes, m)
147  0.054733               (tom waits, m)
148  0.067470  (the beatles, radiohead, m)

[149 rows x 2 columns]

In [16]:
apriori_sex_usa_rules = ml.association_rules(apriori_sex_usa, metric="confidence", min_threshold=0.7)
apriori_sex_usa_rules.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
7,(metallica),(m),0.058176,0.69432,0.050258,0.863905,1.244246,0.009866,2.246082
0,(beastie boys),(m),0.067126,0.69432,0.057143,0.851282,1.226066,0.010536,2.055434
4,(jay-z),(m),0.063339,0.69432,0.052668,0.831522,1.197606,0.008690,1.814358
15,(tom waits),(m),0.066093,0.69432,0.054733,0.828125,1.192713,0.008844,1.778501
13,(the rolling stones),(m),0.081239,0.69432,0.065749,0.809322,1.165632,0.009343,1.603121
10,(pink floyd),(m),0.110843,0.69432,0.088812,0.801242,1.153995,0.011852,1.537952
5,(johnny cash),(m),0.077797,0.69432,0.060241,0.774336,1.115244,0.006225,1.354581
6,(led zeppelin),(m),0.107401,0.69432,0.082960,0.772436,1.112507,0.008390,1.343269
8,(nine inch nails),(m),0.089157,0.69432,0.067470,0.756757,1.089925,0.005567,1.256684
12,(the clash),(m),0.068158,0.69432,0.050602,0.742424,1.069282,0.003279,1.186757
2,(daft punk),(m),0.085714,0.69432,0.061962,0.722892,1.041150,0.002449,1.103106
9,(nirvana),(m),0.079174,0.69432,0.057143,0.721739,1.039490,0.002171,1.098537
3,(gorillaz),(m),0.071601,0.69432,0.051635,0.721154,1.038647,0.001921,1.096231
11,(pixies),(m),0.088124,0.69432,0.063339,0.718750,1.035185,0.002153,1.086862
14,(the smashing pumpkins),(m),0.079518,0.69432,0.056454,0.709957,1.022521,0.001243,1.053911
1,(bob dylan),(m),0.104647,0.69432,0.073322,0.700658,1.009128,0.000663,1.021172

In [17]:
apriori_country_japan = ml.apriori(artist_country_jp, min_support=0.035, use_colnames=True)
apriori_country_japan

      support                         itemsets
0    0.049505                      ([unknown])
1    0.049505                            (air)
2    0.044554                    (alicia keys)
3    0.044554              (animal collective)
4    0.069307                     (aphex twin)
..        ...                              ...
134  0.049505   (the smashing pumpkins, Japan)
135  0.044554               (Japan, tom waits)
136  0.049505                      (Japan, u2)
137  0.069307              (Japan, underworld)
138  0.044554  (Japan, the beatles, radiohead)

[139 rows x 2 columns]

In [18]:
apriori_country_japan_rules = ml.association_rules(apriori_country_japan, metric="confidence", min_threshold=0.8)
apriori_country_japan_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,([unknown]),(Japan),0.049505,1.0,0.049505,1.0,1.0,0.0,inf
1,(air),(Japan),0.049505,1.0,0.049505,1.0,1.0,0.0,inf
2,(alicia keys),(Japan),0.044554,1.0,0.044554,1.0,1.0,0.0,inf
3,(animal collective),(Japan),0.044554,1.0,0.044554,1.0,1.0,0.0,inf
4,(aphex twin),(Japan),0.069307,1.0,0.069307,1.0,1.0,0.0,inf
...,...,...,...,...,...,...,...,...,...
64,(the smashing pumpkins),(Japan),0.049505,1.0,0.049505,1.0,1.0,0.0,inf
65,(tom waits),(Japan),0.044554,1.0,0.044554,1.0,1.0,0.0,inf
66,(u2),(Japan),0.049505,1.0,0.049505,1.0,1.0,0.0,inf
67,(underworld),(Japan),0.069307,1.0,0.069307,1.0,1.0,0.0,inf
68,"(the beatles, radiohead)",(Japan),0.044554,1.0,0.044554,1.0,1.0,0.0,inf

In [19]:
apriori_country_usa = ml.apriori(artist_country_usa, min_support=0.05, use_colnames=True)
apriori_country_usa

      support                                    itemsets
0    0.058176                                       (air)
1    0.059552                               (andrew bird)
2    0.079862                         (animal collective)
3    0.074010                               (arcade fire)
4    0.067126                              (beastie boys)
..        ...                                         ...
208  0.052668    (United States, pink floyd, the beatles)
209  0.056454  (United States, sufjan stevens, radiohead)
210  0.100172     (United States, the beatles, radiohead)
211  0.058520       (United States, the shins, radiohead)
212  0.055766     (United States, the shins, the beatles)

[213 rows x 2 columns]

In [20]:
apriori_country_usa_rules = ml.association_rules(apriori_country_usa, metric="confidence", min_threshold=0.8)
apriori_country_usa_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(air),(United States),0.058176,1.0,0.058176,1.0,1.0,0.0,inf
1,(andrew bird),(United States),0.059552,1.0,0.059552,1.0,1.0,0.0,inf
2,(animal collective),(United States),0.079862,1.0,0.079862,1.0,1.0,0.0,inf
3,(arcade fire),(United States),0.074010,1.0,0.074010,1.0,1.0,0.0,inf
4,(beastie boys),(United States),0.067126,1.0,0.067126,1.0,1.0,0.0,inf
...,...,...,...,...,...,...,...,...,...
101,"(pink floyd, the beatles)",(United States),0.052668,1.0,0.052668,1.0,1.0,0.0,inf
102,"(sufjan stevens, radiohead)",(United States),0.056454,1.0,0.056454,1.0,1.0,0.0,inf
103,"(the beatles, radiohead)",(United States),0.100172,1.0,0.100172,1.0,1.0,0.0,inf
104,"(the shins, radiohead)",(United States),0.058520,1.0,0.058520,1.0,1.0,0.0,inf
105,"(the shins, the beatles)",(United States),0.055766,1.0,0.055766,1.0,1.0,0.0,inf

In [21]:
apriori_country = ml.apriori(artist_country, min_support=0.05, use_colnames=True)
apriori_country

      support                                    itemsets
0    0.057612                                       (air)
1    0.057612                               (andrew bird)
2    0.077567                         (animal collective)
3    0.069842                               (arcade fire)
4    0.064049                              (beastie boys)
..        ...                                         ...
180  0.053750  (modest mouse, United States, the beatles)
181  0.052784  (United States, sufjan stevens, radiohead)
182  0.093659     (United States, the beatles, radiohead)
183  0.054715       (United States, the shins, radiohead)
184  0.052140     (United States, the shins, the beatles)

[185 rows x 2 columns]

In [54]:
apriori_country_rules = ml.association_rules(apriori_country, metric="confidence", min_threshold=0.99)
#apriori_country_rules.loc[apriori_country_rules['antecedents'] == "(United States)"]
apriori_country_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(arcade fire),(United States),0.069842,0.934986,0.069199,0.990783,1.059678,0.003897,7.054071
1,(brand new),(United States),0.061796,0.934986,0.061796,1.000000,1.069535,0.004018,inf
2,(bright eyes),(United States),0.081107,0.934986,0.080785,0.996032,1.065291,0.004951,16.383650
3,(cake),(United States),0.056646,0.934986,0.056324,0.994318,1.063458,0.003361,11.442549
4,(interpol),(United States),0.054715,0.934986,0.054393,0.994118,1.063244,0.003235,11.052462
5,(jay-z),(United States),0.059543,0.934986,0.059221,0.994595,1.063754,0.003549,12.027679
6,(johnny cash),(United States),0.073383,0.934986,0.072739,0.991228,1.060153,0.004127,7.411651
7,(paramore),(United States),0.053750,0.934986,0.053428,0.994012,1.063131,0.003173,10.857419
8,(regina spektor),(United States),0.055681,0.934986,0.055359,0.994220,1.063353,0.003298,11.247506
9,(tegan and sara),(United States),0.054071,0.934986,0.053750,0.994048,1.063169,0.003194,10.922433
10,(the decemberists),(United States),0.085291,0.934986,0.085291,1.000000,1.069535,0.005545,inf
11,"(the beatles, beck)",(United States),0.051818,0.934986,0.051497,0.993789,1.062892,0.003047,10.467332
12,"(the shins, the beatles)",(United States),0.052462,0.934986,0.052140,0.993865,1.062974,0.003089,10.597361