In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv("lastfm.csv")

### Для анализа выберем Японию и США

In [5]:
japan_data = data.loc[data["country"] == 'Japan']
usa_data = data.loc[data["country"] == 'United States']
options = ['Japan', 'United States']
true_data = data.loc[data["country"].isin(options)]
true_data

         user                    artist sex        country
16          3          devendra banhart   m  United States
17          3          boards of canada   m  United States
18          3                 cocorosie   m  United States
19          3                aphex twin   m  United States
20          3         animal collective   m  United States
...       ...                       ...  ..            ...
289649  19701  architecture in helsinki   f  United States
289650  19701                    beirut   f  United States
289651  19701                 the knife   f  United States
289652  19701                  ladytron   f  United States
289653  19701     the smashing pumpkins   f  United States

[61819 rows x 4 columns]

In [6]:
true_data.artist.value_counts().sort_values(ascending = False)

the beatles            822
radiohead              703
death cab for cutie    526
coldplay               463
modest mouse           421
                      ...
parov stelar             1
coma                     1
akurat                   1
ska-p                    1
lacrimosa                1
Name: artist, Length: 994, dtype: int64

### Подготовка данных для ассоциативного анализа

#### Создадим сводные таблицы

In [7]:
pivoted_artist = true_data[['user', 'artist']].pivot_table(index='user', columns='artist',aggfunc=any, fill_value=False).astype(int)
pivoted_artist_jp = japan_data[['user', 'artist']].pivot_table(index='user', columns='artist',aggfunc=any, fill_value=False).astype(int)
pivoted_artist_usa = usa_data[['user', 'artist']].pivot_table(index='user', columns='artist',aggfunc=any, fill_value=False).astype(int)

pivoted_country = true_data[['user', 'country']].pivot_table(index='user', columns='country',aggfunc=any, fill_value=False).astype(int)
pivoted_country_jp = japan_data[['user', 'country']].pivot_table(index='user', columns='country',aggfunc=any, fill_value=False).astype(int)
pivoted_country_usa = usa_data[['user', 'country']].pivot_table(index='user', columns='country',aggfunc=any, fill_value=False).astype(int)

pivoted_sex = true_data[['user', 'sex']].pivot_table(index='user', columns='sex',aggfunc=any, fill_value=False).astype(int)
pivoted_sex_jp = japan_data[['user', 'sex']].pivot_table(index='user', columns='sex',aggfunc=any, fill_value=False).astype(int)
pivoted_sex_usa = usa_data[['user', 'sex']].pivot_table(index='user', columns='sex',aggfunc=any, fill_value=False).astype(int)

Сводная таблица по полу и артистам для Японии

In [8]:
artist_sex_japan = pd.concat([pivoted_artist_jp, pivoted_sex_jp], axis=1)
artist_sex_japan

,...and you will know us by the trail of dead,2pac,3 doors down,44,50 cent,65daysofstatic,[unknown],a fine frenzy,a perfect circle,a tribe called quest,...,weezer,wilco,wolfgang amadeus mozart,wu-tang clan,yann tiersen,yeah yeah yeahs,yo la tengo,Édith piaf,f,m
user,,,,,,,,,,,,,,,,,,,,,
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
59,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
160,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
222,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19164,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19246,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19317,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19524,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19585,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

Сводная таблица по полу и артистам для США

In [9]:
artist_sex_usa = pd.concat([pivoted_artist_usa, pivoted_sex_usa], axis=1)
artist_sex_usa

,...and you will know us by the trail of dead,2pac,3 doors down,30 seconds to mars,311,36 crazyfists,44,50 cent,65daysofstatic,[unknown],...,wolfgang amadeus mozart,wu-tang clan,yann tiersen,yeah yeah yeahs,yellowcard,yo la tengo,zero 7,Édith piaf,f,m
user,,,,,,,,,,,,,,,,,,,,,
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
32,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19674,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19682,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19701,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

Сводная таблица по странам и артистам

In [12]:
artist_country = pd.concat([pivoted_artist, pivoted_country], axis=1)
artist_country

,...and you will know us by the trail of dead,2pac,3 doors down,30 seconds to mars,311,36 crazyfists,44,50 cent,65daysofstatic,[unknown],...,wolfgang amadeus mozart,wu-tang clan,yann tiersen,yeah yeah yeahs,yellowcard,yo la tengo,zero 7,Édith piaf,Japan,United States
user,,,,,,,,,,,,,,,,,,,,,
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19674,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19682,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19701,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [13]:
artist_sex = pd.concat([pivoted_artist, pivoted_sex], axis=1)
artist_sex

,...and you will know us by the trail of dead,2pac,3 doors down,30 seconds to mars,311,36 crazyfists,44,50 cent,65daysofstatic,[unknown],...,wolfgang amadeus mozart,wu-tang clan,yann tiersen,yeah yeah yeahs,yellowcard,yo la tengo,zero 7,Édith piaf,f,m
user,,,,,,,,,,,,,,,,,,,,,
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19674,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19682,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19701,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

### Поиск характерных комбинаций

In [14]:
import mlxtend.frequent_patterns as ml

In [15]:
apriori_sex_jp = ml.apriori(artist_sex_japan, min_support=0.03, use_colnames=True)
apriori_sex_jp

      support                    itemsets
0    0.049505                 ([unknown])
1    0.049505                       (air)
2    0.044554               (alicia keys)
3    0.044554         (animal collective)
4    0.069307                (aphex twin)
..        ...                         ...
148  0.034653     (m, the rolling stones)
149  0.039604  (the smashing pumpkins, m)
150  0.039604              (tom waits, m)
151  0.039604                     (u2, m)
152  0.059406             (underworld, m)

[153 rows x 2 columns]

In [47]:
apriori_sex_jp_rules = ml.association_rules(apriori_sex_jp, metric="confidence", min_threshold=0.85)
apriori_sex_jp_rules.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(beck),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
7,(frank zappa),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
18,(rush),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
17,(nirvana),(m),0.059406,0.772277,0.059406,1.000000,1.294872,0.013528,inf
14,(metallica),(m),0.049505,0.772277,0.049505,1.000000,1.294872,0.011273,inf
12,(led zeppelin),(m),0.059406,0.772277,0.059406,1.000000,1.294872,0.013528,inf
11,(judas priest),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
13,(maroon 5),(m),0.039604,0.772277,0.039604,1.000000,1.294872,0.009019,inf
3,(bob dylan),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
5,(charlie parker),(m),0.039604,0.772277,0.039604,1.000000,1.294872,0.009019,inf
19,(squarepusher),(m),0.059406,0.772277,0.054455,0.916667,1.186966,0.008578,2.732673
15,(michael jackson),(m),0.054455,0.772277,0.049505,0.909091,1.177156,0.007450,2.504950
9,(jack johnson),(m),0.049505,0.772277,0.044554,0.900000,1.165385,0.006323,2.277228
24,(tom waits),(m),0.044554,0.772277,0.039604,0.888889,1.150997,0.005196,2.049505
1,(black eyed peas),(m),0.044554,0.772277,0.039604,0.888889,1.150997,0.005196,2.049505
23,(the rolling stones),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
22,(the doors),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
21,(t. rex),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
20,(steely dan),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
8,(herbie hancock),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
2,(black sabbath),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
16,(ne-yo),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
4,(bob marley & the wailers),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
6,(elliott smith),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
10,(john coltrane),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
25,(underworld),(m),0.069307,0.772277,0.059406,0.857143,1.109890,0.005882,1.594059

В Японии с 100% уверенностью, если кто-то слушает таких исполнителей как beck, frank zappa, rush, nirvana, metallica, то это мужчины

In [17]:
apriori_sex_usa = ml.apriori(artist_sex_usa, min_support=0.05, use_colnames=True)
apriori_sex_usa

      support                     itemsets
0    0.058176                        (air)
1    0.059552                (andrew bird)
2    0.079862          (animal collective)
3    0.074010                (arcade fire)
4    0.067126               (beastie boys)
..        ...                          ...
144  0.068158               (the shins, m)
145  0.056454   (the smashing pumpkins, m)
146  0.064028       (the white stripes, m)
147  0.054733               (tom waits, m)
148  0.067470  (radiohead, the beatles, m)

[149 rows x 2 columns]

In [18]:
apriori_sex_usa_rules = ml.association_rules(apriori_sex_usa, metric="confidence", min_threshold=0.7)
apriori_sex_usa_rules.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
7,(metallica),(m),0.058176,0.69432,0.050258,0.863905,1.244246,0.009866,2.246082
0,(beastie boys),(m),0.067126,0.69432,0.057143,0.851282,1.226066,0.010536,2.055434
4,(jay-z),(m),0.063339,0.69432,0.052668,0.831522,1.197606,0.008690,1.814358
15,(tom waits),(m),0.066093,0.69432,0.054733,0.828125,1.192713,0.008844,1.778501
13,(the rolling stones),(m),0.081239,0.69432,0.065749,0.809322,1.165632,0.009343,1.603121
10,(pink floyd),(m),0.110843,0.69432,0.088812,0.801242,1.153995,0.011852,1.537952
5,(johnny cash),(m),0.077797,0.69432,0.060241,0.774336,1.115244,0.006225,1.354581
6,(led zeppelin),(m),0.107401,0.69432,0.082960,0.772436,1.112507,0.008390,1.343269
8,(nine inch nails),(m),0.089157,0.69432,0.067470,0.756757,1.089925,0.005567,1.256684
12,(the clash),(m),0.068158,0.69432,0.050602,0.742424,1.069282,0.003279,1.186757
2,(daft punk),(m),0.085714,0.69432,0.061962,0.722892,1.041150,0.002449,1.103106
9,(nirvana),(m),0.079174,0.69432,0.057143,0.721739,1.039490,0.002171,1.098537
3,(gorillaz),(m),0.071601,0.69432,0.051635,0.721154,1.038647,0.001921,1.096231
11,(pixies),(m),0.088124,0.69432,0.063339,0.718750,1.035185,0.002153,1.086862
14,(the smashing pumpkins),(m),0.079518,0.69432,0.056454,0.709957,1.022521,0.001243,1.053911
1,(bob dylan),(m),0.104647,0.69432,0.073322,0.700658,1.009128,0.000663,1.021172

В США с высокой уверенностью, если кто-то слушает metallica, beastie boys, jay-z, tom waits, то это мужчины

In [23]:
apriori_country = ml.apriori(artist_country, min_support=0.05, use_colnames=True)
apriori_country

      support                                    itemsets
0    0.057612                                       (air)
1    0.057612                               (andrew bird)
2    0.077567                         (animal collective)
3    0.069842                               (arcade fire)
4    0.064049                              (beastie boys)
..        ...                                         ...
180  0.053750  (the beatles, modest mouse, United States)
181  0.052784  (radiohead, United States, sufjan stevens)
182  0.093659     (radiohead, the beatles, United States)
183  0.054715       (radiohead, the shins, United States)
184  0.052140     (the beatles, the shins, United States)

[185 rows x 2 columns]

In [24]:
apriori_country_rules = ml.association_rules(apriori_country, metric="confidence", min_threshold=0.99)
apriori_country_rules.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(brand new),(United States),0.061796,0.934986,0.061796,1.000000,1.069535,0.004018,inf
10,(the decemberists),(United States),0.085291,0.934986,0.085291,1.000000,1.069535,0.005545,inf
2,(bright eyes),(United States),0.081107,0.934986,0.080785,0.996032,1.065291,0.004951,16.383650
5,(jay-z),(United States),0.059543,0.934986,0.059221,0.994595,1.063754,0.003549,12.027679
3,(cake),(United States),0.056646,0.934986,0.056324,0.994318,1.063458,0.003361,11.442549
8,(regina spektor),(United States),0.055681,0.934986,0.055359,0.994220,1.063353,0.003298,11.247506
4,(interpol),(United States),0.054715,0.934986,0.054393,0.994118,1.063244,0.003235,11.052462
9,(tegan and sara),(United States),0.054071,0.934986,0.053750,0.994048,1.063169,0.003194,10.922433
7,(paramore),(United States),0.053750,0.934986,0.053428,0.994012,1.063131,0.003173,10.857419
12,"(the beatles, the shins)",(United States),0.052462,0.934986,0.052140,0.993865,1.062974,0.003089,10.597361
11,"(the beatles, beck)",(United States),0.051818,0.934986,0.051497,0.993789,1.062892,0.003047,10.467332
6,(johnny cash),(United States),0.073383,0.934986,0.072739,0.991228,1.060153,0.004127,7.411651
0,(arcade fire),(United States),0.069842,0.934986,0.069199,0.990783,1.059678,0.003897,7.054071

Со 100% уверенностью, если если кто-то слушает исполнителей brand new, и the decemberists, то это житель США

FP-Growth

In [45]:
fpgrowth_artist_sex_jp = ml.fpgrowth(artist_sex_japan, min_support=0.03, use_colnames=True)
fpgrowth_artist_sex_jp

      support                    itemsets
0    0.227723                         (f)
1    0.158416                 (radiohead)
2    0.059406                (jamiroquai)
3    0.054455     (the chemical brothers)
4    0.049505           (franz ferdinand)
..        ...                         ...
148  0.034653          (black sabbath, m)
149  0.034653                 (m, t. rex)
150  0.049505                  (m, björk)
151  0.034653          (avril lavigne, m)
152  0.039604  (the smashing pumpkins, m)

[153 rows x 2 columns]

In [40]:
fpgrowth_artist_sex_rules_jp = ml.association_rules(fpgrowth_artist_sex_jp, metric="confidence", min_threshold=0.85)
fpgrowth_artist_sex_rules_jp.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
8,(led zeppelin),(m),0.059406,0.772277,0.059406,1.000000,1.294872,0.013528,inf
23,(maroon 5),(m),0.039604,0.772277,0.039604,1.000000,1.294872,0.009019,inf
15,(beck),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
19,(charlie parker),(m),0.039604,0.772277,0.039604,1.000000,1.294872,0.009019,inf
20,(bob dylan),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
21,(judas priest),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
22,(rush),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
18,(metallica),(m),0.049505,0.772277,0.049505,1.000000,1.294872,0.011273,inf
6,(nirvana),(m),0.059406,0.772277,0.059406,1.000000,1.294872,0.013528,inf
5,(frank zappa),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
10,(squarepusher),(m),0.059406,0.772277,0.054455,0.916667,1.186966,0.008578,2.732673
2,(michael jackson),(m),0.054455,0.772277,0.049505,0.909091,1.177156,0.007450,2.504950
13,(jack johnson),(m),0.049505,0.772277,0.044554,0.900000,1.165385,0.006323,2.277228
4,(black eyed peas),(m),0.044554,0.772277,0.039604,0.888889,1.150997,0.005196,2.049505
14,(tom waits),(m),0.044554,0.772277,0.039604,0.888889,1.150997,0.005196,2.049505
17,(the doors),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
24,(black sabbath),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
0,(the rolling stones),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
16,(bob marley & the wailers),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
1,(steely dan),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
12,(ne-yo),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
11,(elliott smith),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
9,(john coltrane),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
7,(herbie hancock),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
25,(t. rex),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
3,(underworld),(m),0.069307,0.772277,0.059406,0.857143,1.109890,0.005882,1.594059

100% уверенность у тех же ассоциативных правил, что и при алгоритме apriory

In [37]:
fpgrowth_artist_sex_usa = ml.fpgrowth(artist_sex_usa, min_support=0.05, use_colnames=True)
fpgrowth_artist_sex_usa

      support              itemsets
0    0.694320                   (m)
1    0.230981           (radiohead)
2    0.079862   (animal collective)
3    0.074010         (arcade fire)
4    0.067126        (beastie boys)
..        ...                   ...
144  0.061962        (daft punk, m)
145  0.052668            (jay-z, m)
146  0.050258        (metallica, m)
147  0.067470  (m, nine inch nails)
148  0.051635         (m, gorillaz)

[149 rows x 2 columns]

In [44]:
fpgrowth_artist_sex_rules_usa = ml.association_rules(fpgrowth_artist_sex_usa, metric="confidence", min_threshold=0.6)
fpgrowth_artist_sex_rules_usa.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
26,(metallica),(m),0.058176,0.69432,0.050258,0.863905,1.244246,0.009866,2.246082
3,(beastie boys),(m),0.067126,0.69432,0.057143,0.851282,1.226066,0.010536,2.055434
25,(jay-z),(m),0.063339,0.69432,0.052668,0.831522,1.197606,0.008690,1.814358
8,(tom waits),(m),0.066093,0.69432,0.054733,0.828125,1.192713,0.008844,1.778501
14,(the rolling stones),(m),0.081239,0.69432,0.065749,0.809322,1.165632,0.009343,1.603121
21,(pink floyd),(m),0.110843,0.69432,0.088812,0.801242,1.153995,0.011852,1.537952
11,(johnny cash),(m),0.077797,0.69432,0.060241,0.774336,1.115244,0.006225,1.354581
12,(led zeppelin),(m),0.107401,0.69432,0.082960,0.772436,1.112507,0.008390,1.343269
27,(nine inch nails),(m),0.089157,0.69432,0.067470,0.756757,1.089925,0.005567,1.256684
15,(the clash),(m),0.068158,0.69432,0.050602,0.742424,1.069282,0.003279,1.186757
24,(daft punk),(m),0.085714,0.69432,0.061962,0.722892,1.041150,0.002449,1.103106
22,(nirvana),(m),0.079174,0.69432,0.057143,0.721739,1.039490,0.002171,1.098537
28,(gorillaz),(m),0.071601,0.69432,0.051635,0.721154,1.038647,0.001921,1.096231
7,(pixies),(m),0.088124,0.69432,0.063339,0.718750,1.035185,0.002153,1.086862
18,(the smashing pumpkins),(m),0.079518,0.69432,0.056454,0.709957,1.022521,0.001243,1.053911
16,(bob dylan),(m),0.104647,0.69432,0.073322,0.700658,1.009128,0.000663,1.021172
0,(radiohead),(m),0.230981,0.69432,0.160413,0.694486,1.000239,0.000038,1.000542
19,(green day),(m),0.073322,0.69432,0.050602,0.690141,0.993981,-0.000306,0.986512
23,(sigur rós),(m),0.084337,0.69432,0.057831,0.685714,0.987605,-0.000726,0.972618
10,(kanye west),(m),0.117040,0.69432,0.079862,0.682353,0.982764,-0.001401,0.962325
17,(red hot chili peppers),(m),0.099828,0.69432,0.067470,0.675862,0.973416,-0.001843,0.943055
1,"(radiohead, the beatles)",(m),0.100172,0.69432,0.067470,0.673540,0.970071,-0.002082,0.936346
6,(david bowie),(m),0.093632,0.69432,0.062995,0.672794,0.968997,-0.002016,0.934213
9,(modest mouse),(m),0.142513,0.69432,0.095697,0.671498,0.967130,-0.003253,0.930525
2,(animal collective),(m),0.079862,0.69432,0.053356,0.668103,0.962241,-0.002094,0.921009
5,(beck),(m),0.109811,0.69432,0.073322,0.667712,0.961677,-0.002922,0.919923
13,(the white stripes),(m),0.096041,0.69432,0.064028,0.666667,0.960172,-0.002656,0.917040
4,(the beatles),(m),0.270568,0.69432,0.178313,0.659033,0.949178,-0.009548,0.896509
20,(sufjan stevens),(m),0.113597,0.69432,0.068158,0.600000,0.864155,-0.010715,0.764200

Высокая уверенность у тех же ассоциативных правил, что и при алгоритме apriory

In [29]:
fpgrowth_country = ml.fpgrowth(artist_country, min_support=0.05, use_colnames=True)
fpgrowth_country

      support                          itemsets
0    0.934986                   (United States)
1    0.226263                       (radiohead)
2    0.077567               (animal collective)
3    0.069842                     (arcade fire)
4    0.064049                    (beastie boys)
..        ...                               ...
180  0.073383             (muse, United States)
181  0.054393        (metallica, United States)
182  0.083360  (United States, nine inch nails)
183  0.066946         (United States, gorillaz)
184  0.053750   (United States, tegan and sara)

[185 rows x 2 columns]

In [49]:
fpgrowth_country_rules = ml.association_rules(fpgrowth_country, metric="confidence", min_threshold=0.99)
fpgrowth_country_rules.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
5,(the decemberists),(United States),0.085291,0.934986,0.085291,1.000000,1.069535,0.005545,inf
11,(brand new),(United States),0.061796,0.934986,0.061796,1.000000,1.069535,0.004018,inf
8,(bright eyes),(United States),0.081107,0.934986,0.080785,0.996032,1.065291,0.004951,16.383650
9,(jay-z),(United States),0.059543,0.934986,0.059221,0.994595,1.063754,0.003549,12.027679
7,(cake),(United States),0.056646,0.934986,0.056324,0.994318,1.063458,0.003361,11.442549
2,(regina spektor),(United States),0.055681,0.934986,0.055359,0.994220,1.063353,0.003298,11.247506
3,(interpol),(United States),0.054715,0.934986,0.054393,0.994118,1.063244,0.003235,11.052462
12,(tegan and sara),(United States),0.054071,0.934986,0.053750,0.994048,1.063169,0.003194,10.922433
10,(paramore),(United States),0.053750,0.934986,0.053428,0.994012,1.063131,0.003173,10.857419
4,"(the beatles, the shins)",(United States),0.052462,0.934986,0.052140,0.993865,1.062974,0.003089,10.597361
1,"(the beatles, beck)",(United States),0.051818,0.934986,0.051497,0.993789,1.062892,0.003047,10.467332
6,(johnny cash),(United States),0.073383,0.934986,0.072739,0.991228,1.060153,0.004127,7.411651
0,(arcade fire),(United States),0.069842,0.934986,0.069199,0.990783,1.059678,0.003897,7.054071

100% уверенность у тех же ассоциативных правил, что и при алгоритме apriory

FPMax

In [38]:
fpmax_artist_sex_jp = ml.fpmax(artist_sex_japan, min_support=0.03, use_colnames=True)
fpmax_artist_sex_jp

     support                  itemsets
0   0.034653            (modest mouse)
1   0.034653           (talking heads)
2   0.034653              (pink floyd)
3   0.034653          (m, frank zappa)
4   0.034653         (judas priest, m)
..       ...                       ...
89  0.044554  (radiohead, the beatles)
90  0.059406            (radiohead, f)
91  0.099010            (radiohead, m)
92  0.034653          (the beatles, f)
93  0.143564          (the beatles, m)

[94 rows x 2 columns]

In [41]:
fpmax_artist_sex_rules_jp = ml.association_rules(fpmax_artist_sex_jp, metric="support", min_threshold=0.04, support_only=True)
fpmax_artist_sex_rules_jp.sort_values('support', ascending=False).head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
49,(m),(the beatles),NaN,NaN,0.143564,NaN,NaN,NaN,NaN
48,(the beatles),(m),NaN,NaN,0.143564,NaN,NaN,NaN,NaN
47,(m),(radiohead),NaN,NaN,0.099010,NaN,NaN,NaN,NaN
46,(radiohead),(m),NaN,NaN,0.099010,NaN,NaN,NaN,NaN
41,(m),(miles davis),NaN,NaN,0.069307,NaN,NaN,NaN,NaN

У данного алгоритма самая высокая поддержка у правил m -> the beatles, the beatles -> m. Что не было обнаружено в предыдущих алгоритмах

In [42]:
fpmax_artist_sex_usa = ml.fpmax(artist_sex_usa, min_support=0.05, use_colnames=True)
fpmax_artist_sex_usa

      support                     itemsets
0    0.050602        (the magnetic fields)
1    0.050602         (taking back sunday)
2    0.050602           (boards of canada)
3    0.050947             (the beach boys)
4    0.050947          (simon & garfunkel)
..        ...                          ...
104  0.077108     (f, death cab for cutie)
105  0.099484     (death cab for cutie, m)
106  0.070568               (radiohead, f)
107  0.067470  (radiohead, the beatles, m)
108  0.092255             (the beatles, f)

[109 rows x 2 columns]

In [34]:
fpmax_artist_sex_rules_usa = ml.association_rules(fpmax_artist_sex_usa, metric="support", min_threshold=0.07, support_only=True)
fpmax_artist_sex_rules_usa.sort_values('support', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
17,(m),(death cab for cutie),NaN,NaN,0.099484,NaN,NaN,NaN,NaN
16,(death cab for cutie),(m),NaN,NaN,0.099484,NaN,NaN,NaN,NaN
11,(m),(modest mouse),NaN,NaN,0.095697,NaN,NaN,NaN,NaN
10,(modest mouse),(m),NaN,NaN,0.095697,NaN,NaN,NaN,NaN
20,(the beatles),(f),NaN,NaN,0.092255,NaN,NaN,NaN,NaN
21,(f),(the beatles),NaN,NaN,0.092255,NaN,NaN,NaN,NaN
6,(pink floyd),(m),NaN,NaN,0.088812,NaN,NaN,NaN,NaN
7,(m),(pink floyd),NaN,NaN,0.088812,NaN,NaN,NaN,NaN
12,(m),(coldplay),NaN,NaN,0.085714,NaN,NaN,NaN,NaN
13,(coldplay),(m),NaN,NaN,0.085714,NaN,NaN,NaN,NaN
3,(m),(led zeppelin),NaN,NaN,0.082960,NaN,NaN,NaN,NaN
2,(led zeppelin),(m),NaN,NaN,0.082960,NaN,NaN,NaN,NaN
8,(kanye west),(m),NaN,NaN,0.079862,NaN,NaN,NaN,NaN
9,(m),(kanye west),NaN,NaN,0.079862,NaN,NaN,NaN,NaN
14,(f),(death cab for cutie),NaN,NaN,0.077108,NaN,NaN,NaN,NaN
15,(death cab for cutie),(f),NaN,NaN,0.077108,NaN,NaN,NaN,NaN
5,(m),(beck),NaN,NaN,0.073322,NaN,NaN,NaN,NaN
1,(m),(bob dylan),NaN,NaN,0.073322,NaN,NaN,NaN,NaN
4,(beck),(m),NaN,NaN,0.073322,NaN,NaN,NaN,NaN
0,(bob dylan),(m),NaN,NaN,0.073322,NaN,NaN,NaN,NaN
18,(radiohead),(f),NaN,NaN,0.070568,NaN,NaN,NaN,NaN
19,(f),(radiohead),NaN,NaN,0.070568,NaN,NaN,NaN,NaN

Наибольшая поддержка у правил (m) -> (death cab for cutie), (death cab for cutie) -> (m). И появились правила с высокой поддержкой связанные с женским полом, что не было обнаружено в предыдущих алгоритмах

In [35]:
fpmax_country = ml.fpmax(artist_country, min_support=0.04, use_colnames=True)
fpmax_country

      support                                           itemsets
0    0.040232                               (the mountain goats)
1    0.040554                                          (madonna)
2    0.040554                                        (the roots)
3    0.040554                                          (ramones)
4    0.040554                     (United States, alkaline trio)
..        ...                                                ...
131  0.054715               (radiohead, United States, coldplay)
132  0.059221     (United States, death cab for cutie, coldplay)
133  0.062762    (radiohead, United States, death cab for cutie)
134  0.063727  (the beatles, United States, death cab for cutie)
135  0.093659            (radiohead, the beatles, United States)

[136 rows x 2 columns]

In [36]:
fpmax_country_rules = ml.association_rules(fpmax_country, metric="support", min_threshold=0.07, support_only=True)
fpmax_country_rules.sort_values('support', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
30,(kanye west),(United States),NaN,NaN,0.109430,NaN,NaN,NaN,NaN
31,(United States),(kanye west),NaN,NaN,0.109430,NaN,NaN,NaN,NaN
33,"(radiohead, United States)",(the beatles),NaN,NaN,0.093659,NaN,NaN,NaN,NaN
32,"(radiohead, the beatles)",(United States),NaN,NaN,0.093659,NaN,NaN,NaN,NaN
37,(United States),"(radiohead, the beatles)",NaN,NaN,0.093659,NaN,NaN,NaN,NaN
34,"(the beatles, United States)",(radiohead),NaN,NaN,0.093659,NaN,NaN,NaN,NaN
35,(radiohead),"(the beatles, United States)",NaN,NaN,0.093659,NaN,NaN,NaN,NaN
36,(the beatles),"(radiohead, United States)",NaN,NaN,0.093659,NaN,NaN,NaN,NaN
29,(red hot chili peppers),(United States),NaN,NaN,0.093338,NaN,NaN,NaN,NaN
28,(United States),(red hot chili peppers),NaN,NaN,0.093338,NaN,NaN,NaN,NaN
23,(the decemberists),(United States),NaN,NaN,0.085291,NaN,NaN,NaN,NaN
22,(United States),(the decemberists),NaN,NaN,0.085291,NaN,NaN,NaN,NaN
27,(United States),(the killers),NaN,NaN,0.084004,NaN,NaN,NaN,NaN
26,(the killers),(United States),NaN,NaN,0.084004,NaN,NaN,NaN,NaN
21,(nine inch nails),(United States),NaN,NaN,0.083360,NaN,NaN,NaN,NaN
20,(United States),(nine inch nails),NaN,NaN,0.083360,NaN,NaN,NaN,NaN
18,(United States),(pixies),NaN,NaN,0.082395,NaN,NaN,NaN,NaN
19,(pixies),(United States),NaN,NaN,0.082395,NaN,NaN,NaN,NaN
15,(elliott smith),(United States),NaN,NaN,0.080785,NaN,NaN,NaN,NaN
14,(United States),(elliott smith),NaN,NaN,0.080785,NaN,NaN,NaN,NaN
13,(United States),(bright eyes),NaN,NaN,0.080785,NaN,NaN,NaN,NaN
12,(bright eyes),(United States),NaN,NaN,0.080785,NaN,NaN,NaN,NaN
24,(daft punk),(United States),NaN,NaN,0.080142,NaN,NaN,NaN,NaN
25,(United States),(daft punk),NaN,NaN,0.080142,NaN,NaN,NaN,NaN
17,(United States),(belle and sebastian),NaN,NaN,0.079820,NaN,NaN,NaN,NaN
16,(belle and sebastian),(United States),NaN,NaN,0.079820,NaN,NaN,NaN,NaN
11,(the rolling stones),(United States),NaN,NaN,0.075958,NaN,NaN,NaN,NaN
10,(United States),(the rolling stones),NaN,NaN,0.075958,NaN,NaN,NaN,NaN
7,(animal collective),(United States),NaN,NaN,0.074670,NaN,NaN,NaN,NaN
6,(United States),(animal collective),NaN,NaN,0.074670,NaN,NaN,NaN,NaN
9,(United States),(nirvana),NaN,NaN,0.074026,NaN,NaN,NaN,NaN
8,(nirvana),(United States),NaN,NaN,0.074026,NaN,NaN,NaN,NaN
3,(iron & wine),(United States),NaN,NaN,0.074026,NaN,NaN,NaN,NaN
2,(United States),(iron & wine),NaN,NaN,0.074026,NaN,NaN,NaN,NaN
5,(United States),(muse),NaN,NaN,0.073383,NaN,NaN,NaN,NaN
4,(muse),(United States),NaN,NaN,0.073383,NaN,NaN,NaN,NaN
1,(johnny cash),(United States),NaN,NaN,0.072739,NaN,NaN,NaN,NaN
0,(United States),(johnny cash),NaN,NaN,0.072739,NaN,NaN,NaN,NaN

Наибольшая поддержка у правил (kanye west) -> (United States), (United States) -> (kanye west). Данного правила не было обнаружено с такой высокой поддержкой в остальных алгоритмах