In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("lastfm.csv")

### Для анализа выберем Японию и США

In [3]:
japan_data = data.loc[data["country"] == 'Japan']
usa_data = data.loc[data["country"] == 'United States']
options = ['Japan', 'United States']
true_data = data.loc[data["country"].isin(options)]
true_data

         user                    artist sex        country
16          3          devendra banhart   m  United States
17          3          boards of canada   m  United States
18          3                 cocorosie   m  United States
19          3                aphex twin   m  United States
20          3         animal collective   m  United States
...       ...                       ...  ..            ...
289649  19701  architecture in helsinki   f  United States
289650  19701                    beirut   f  United States
289651  19701                 the knife   f  United States
289652  19701                  ladytron   f  United States
289653  19701     the smashing pumpkins   f  United States

[61819 rows x 4 columns]

In [4]:
true_data.artist.value_counts().sort_values(ascending = False)

the beatles            822
radiohead              703
death cab for cutie    526
coldplay               463
modest mouse           421
                      ...
parov stelar             1
coma                     1
akurat                   1
ska-p                    1
lacrimosa                1
Name: artist, Length: 994, dtype: int64

### Подготовка данных для ассоциативного анализа

#### Создадим сводные таблицы

In [5]:
pivoted_artist = true_data[['user', 'artist']].pivot_table(index='user', columns='artist',aggfunc=any, fill_value=False).astype(int)
pivoted_artist_jp = japan_data[['user', 'artist']].pivot_table(index='user', columns='artist',aggfunc=any, fill_value=False).astype(int)
pivoted_artist_usa = usa_data[['user', 'artist']].pivot_table(index='user', columns='artist',aggfunc=any, fill_value=False).astype(int)

pivoted_country = true_data[['user', 'country']].pivot_table(index='user', columns='country',aggfunc=any, fill_value=False).astype(int)
pivoted_country_jp = japan_data[['user', 'country']].pivot_table(index='user', columns='country',aggfunc=any, fill_value=False).astype(int)
pivoted_country_usa = usa_data[['user', 'country']].pivot_table(index='user', columns='country',aggfunc=any, fill_value=False).astype(int)

pivoted_sex = true_data[['user', 'sex']].pivot_table(index='user', columns='sex',aggfunc=any, fill_value=False).astype(int)
pivoted_sex_jp = japan_data[['user', 'sex']].pivot_table(index='user', columns='sex',aggfunc=any, fill_value=False).astype(int)
pivoted_sex_usa = usa_data[['user', 'sex']].pivot_table(index='user', columns='sex',aggfunc=any, fill_value=False).astype(int)

Сводная таблица по полу и артистам для Японии

In [6]:
artist_sex_japan = pd.concat([pivoted_artist_jp, pivoted_sex_jp], axis=1)
artist_sex_japan

,...and you will know us by the trail of dead,2pac,3 doors down,44,50 cent,65daysofstatic,[unknown],a fine frenzy,a perfect circle,a tribe called quest,...,weezer,wilco,wolfgang amadeus mozart,wu-tang clan,yann tiersen,yeah yeah yeahs,yo la tengo,Édith piaf,f,m
user,,,,,,,,,,,,,,,,,,,,,
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
59,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
160,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
222,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19164,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19246,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19317,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19524,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19585,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

Сводная таблица по полу и артистам для США

In [7]:
artist_sex_usa = pd.concat([pivoted_artist_usa, pivoted_sex_usa], axis=1)
artist_sex_usa

,...and you will know us by the trail of dead,2pac,3 doors down,30 seconds to mars,311,36 crazyfists,44,50 cent,65daysofstatic,[unknown],...,wolfgang amadeus mozart,wu-tang clan,yann tiersen,yeah yeah yeahs,yellowcard,yo la tengo,zero 7,Édith piaf,f,m
user,,,,,,,,,,,,,,,,,,,,,
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
32,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19674,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19682,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19701,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

Сводная таблица по странам и артистам

In [8]:
artist_country = pd.concat([pivoted_artist, pivoted_country], axis=1)
artist_country

,...and you will know us by the trail of dead,2pac,3 doors down,30 seconds to mars,311,36 crazyfists,44,50 cent,65daysofstatic,[unknown],...,wolfgang amadeus mozart,wu-tang clan,yann tiersen,yeah yeah yeahs,yellowcard,yo la tengo,zero 7,Édith piaf,Japan,United States
user,,,,,,,,,,,,,,,,,,,,,
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19674,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19682,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19701,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [9]:
artist_sex = pd.concat([pivoted_artist, pivoted_sex], axis=1)
artist_sex

,...and you will know us by the trail of dead,2pac,3 doors down,30 seconds to mars,311,36 crazyfists,44,50 cent,65daysofstatic,[unknown],...,wolfgang amadeus mozart,wu-tang clan,yann tiersen,yeah yeah yeahs,yellowcard,yo la tengo,zero 7,Édith piaf,f,m
user,,,,,,,,,,,,,,,,,,,,,
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19674,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19682,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19701,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

### Поиск характерных комбинаций

In [10]:
import mlxtend.frequent_patterns as ml

In [11]:
apriori_sex_jp = ml.apriori(artist_sex_japan, min_support=0.03, use_colnames=True)
apriori_sex_jp

      support                    itemsets
0    0.049505                 ([unknown])
1    0.049505                       (air)
2    0.044554               (alicia keys)
3    0.044554         (animal collective)
4    0.069307                (aphex twin)
..        ...                         ...
148  0.034653     (the rolling stones, m)
149  0.039604  (the smashing pumpkins, m)
150  0.039604              (tom waits, m)
151  0.039604                     (m, u2)
152  0.059406             (m, underworld)

[153 rows x 2 columns]

In [31]:
apriori_sex_jp_rules = ml.association_rules(apriori_sex_jp, metric="confidence", min_threshold=0.85)
apriori_sex_jp_rules.sort_values(['confidence', 'support'], ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
12,(led zeppelin),(m),0.059406,0.772277,0.059406,1.000000,1.294872,0.013528,inf
17,(nirvana),(m),0.059406,0.772277,0.059406,1.000000,1.294872,0.013528,inf
14,(metallica),(m),0.049505,0.772277,0.049505,1.000000,1.294872,0.011273,inf
5,(charlie parker),(m),0.039604,0.772277,0.039604,1.000000,1.294872,0.009019,inf
13,(maroon 5),(m),0.039604,0.772277,0.039604,1.000000,1.294872,0.009019,inf
0,(beck),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
3,(bob dylan),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
7,(frank zappa),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
11,(judas priest),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
18,(rush),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
19,(squarepusher),(m),0.059406,0.772277,0.054455,0.916667,1.186966,0.008578,2.732673
15,(michael jackson),(m),0.054455,0.772277,0.049505,0.909091,1.177156,0.007450,2.504950
9,(jack johnson),(m),0.049505,0.772277,0.044554,0.900000,1.165385,0.006323,2.277228
1,(black eyed peas),(m),0.044554,0.772277,0.039604,0.888889,1.150997,0.005196,2.049505
24,(tom waits),(m),0.044554,0.772277,0.039604,0.888889,1.150997,0.005196,2.049505
2,(black sabbath),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
4,(bob marley & the wailers),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
6,(elliott smith),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
8,(herbie hancock),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
10,(john coltrane),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
16,(ne-yo),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
20,(steely dan),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
21,(t. rex),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
22,(the doors),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
23,(the rolling stones),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
25,(underworld),(m),0.069307,0.772277,0.059406,0.857143,1.109890,0.005882,1.594059

In [37]:
apriori_sex_jp_rules = ml.association_rules(apriori_sex_jp, metric="confidence", min_threshold=0.3)
apriori_sex_jp_rules.sort_values(['confidence', 'support'], ascending=True).head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
44,(radiohead),(f),0.158416,0.227723,0.059406,0.375000,1.646739,0.023331,1.235644
14,(coldplay),(death cab for cutie),0.079208,0.064356,0.034653,0.437500,6.798077,0.029556,1.663366
15,(death cab for cutie),(coldplay),0.064356,0.079208,0.034653,0.538462,6.798077,0.029556,1.995050
19,(death cab for cutie),(radiohead),0.064356,0.158416,0.034653,0.538462,3.399038,0.024458,1.823432
6,(belle and sebastian),(radiohead),0.059406,0.158416,0.034653,0.583333,3.682292,0.025243,2.019802
16,(coldplay),(m),0.079208,0.772277,0.049505,0.625000,0.809295,-0.011666,0.607261
45,(radiohead),(m),0.158416,0.772277,0.099010,0.625000,0.809295,-0.023331,0.607261
43,(sonic youth),(radiohead),0.054455,0.158416,0.034653,0.636364,4.017045,0.026027,2.314356
48,(sonic youth),(m),0.054455,0.772277,0.034653,0.636364,0.824009,-0.007401,0.626238
55,(the chemical brothers),(m),0.054455,0.772277,0.034653,0.636364,0.824009,-0.007401,0.626238
36,(mogwai),(m),0.059406,0.772277,0.039604,0.666667,0.863248,-0.006274,0.683168
7,(björk),(m),0.074257,0.772277,0.049505,0.666667,0.863248,-0.007842,0.683168
20,(death cab for cutie),(m),0.064356,0.772277,0.044554,0.692308,0.896450,-0.005147,0.740099
32,(massive attack),(m),0.049505,0.772277,0.034653,0.700000,0.906410,-0.003578,0.759076
3,(aphex twin),(m),0.069307,0.772277,0.049505,0.714286,0.924908,-0.004019,0.797030
37,(my bloody valentine),(m),0.059406,0.772277,0.044554,0.750000,0.971154,-0.001323,0.910891
2,(alicia keys),(m),0.044554,0.772277,0.034653,0.777778,1.007123,0.000245,1.024752
4,(avril lavigne),(m),0.044554,0.772277,0.034653,0.777778,1.007123,0.000245,1.024752
46,(red hot chili peppers),(m),0.044554,0.772277,0.034653,0.777778,1.007123,0.000245,1.024752
52,(sufjan stevens),(m),0.044554,0.772277,0.034653,0.777778,1.007123,0.000245,1.024752

В Японии с 100% уверенностью, если кто-то слушает таких исполнителей как beck, frank zappa, rush, nirvana, metallica, то это мужчины

In [13]:
apriori_sex_usa = ml.apriori(artist_sex_usa, min_support=0.05, use_colnames=True)
apriori_sex_usa

      support                     itemsets
0    0.058176                        (air)
1    0.059552                (andrew bird)
2    0.079862          (animal collective)
3    0.074010                (arcade fire)
4    0.067126               (beastie boys)
..        ...                          ...
144  0.068158               (m, the shins)
145  0.056454   (the smashing pumpkins, m)
146  0.064028       (m, the white stripes)
147  0.054733               (tom waits, m)
148  0.067470  (radiohead, m, the beatles)

[149 rows x 2 columns]

In [38]:
apriori_sex_usa_rules = ml.association_rules(apriori_sex_usa, metric="confidence", min_threshold=0.7)
apriori_sex_usa_rules.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
7,(metallica),(m),0.058176,0.69432,0.050258,0.863905,1.244246,0.009866,2.246082
0,(beastie boys),(m),0.067126,0.69432,0.057143,0.851282,1.226066,0.010536,2.055434
4,(jay-z),(m),0.063339,0.69432,0.052668,0.831522,1.197606,0.008690,1.814358
15,(tom waits),(m),0.066093,0.69432,0.054733,0.828125,1.192713,0.008844,1.778501
13,(the rolling stones),(m),0.081239,0.69432,0.065749,0.809322,1.165632,0.009343,1.603121
10,(pink floyd),(m),0.110843,0.69432,0.088812,0.801242,1.153995,0.011852,1.537952
5,(johnny cash),(m),0.077797,0.69432,0.060241,0.774336,1.115244,0.006225,1.354581
6,(led zeppelin),(m),0.107401,0.69432,0.082960,0.772436,1.112507,0.008390,1.343269
8,(nine inch nails),(m),0.089157,0.69432,0.067470,0.756757,1.089925,0.005567,1.256684
12,(the clash),(m),0.068158,0.69432,0.050602,0.742424,1.069282,0.003279,1.186757
2,(daft punk),(m),0.085714,0.69432,0.061962,0.722892,1.041150,0.002449,1.103106
9,(nirvana),(m),0.079174,0.69432,0.057143,0.721739,1.039490,0.002171,1.098537
3,(gorillaz),(m),0.071601,0.69432,0.051635,0.721154,1.038647,0.001921,1.096231
11,(pixies),(m),0.088124,0.69432,0.063339,0.718750,1.035185,0.002153,1.086862
14,(the smashing pumpkins),(m),0.079518,0.69432,0.056454,0.709957,1.022521,0.001243,1.053911
1,(bob dylan),(m),0.104647,0.69432,0.073322,0.700658,1.009128,0.000663,1.021172

In [39]:
apriori_sex_usa_rules = ml.association_rules(apriori_sex_usa, metric="confidence", min_threshold=0.3)
apriori_sex_usa_rules.sort_values(['confidence', 'support'], ascending=True).head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
50,(f),(the beatles),0.305680,0.270568,0.092255,0.301802,1.115438,0.009548,1.044735
44,(radiohead),(f),0.230981,0.305680,0.070568,0.305514,0.999458,-0.000038,0.999761
19,(death cab for cutie),(the shins),0.176592,0.124957,0.059552,0.337232,2.698785,0.037486,1.320286
51,(the beatles),(f),0.270568,0.305680,0.092255,0.340967,1.115438,0.009548,1.053544
9,(death cab for cutie),(coldplay),0.176592,0.153873,0.063339,0.358674,2.330983,0.036166,1.319341
11,(coldplay),(the beatles),0.153873,0.270568,0.056110,0.364653,1.347732,0.014477,1.148085
16,(modest mouse),(death cab for cutie),0.142513,0.176592,0.052324,0.367150,2.079084,0.027157,1.301110
42,(the beatles),(radiohead),0.270568,0.230981,0.100172,0.370229,1.602854,0.037676,1.221109
64,"(m, the beatles)",(radiohead),0.178313,0.230981,0.067470,0.378378,1.638136,0.026283,1.237117
17,(death cab for cutie),(radiohead),0.176592,0.230981,0.067126,0.380117,1.645663,0.026336,1.240587
10,(coldplay),(radiohead),0.153873,0.230981,0.058520,0.380313,1.646512,0.022978,1.240980
18,(death cab for cutie),(the beatles),0.176592,0.270568,0.068158,0.385965,1.426499,0.020378,1.187932
33,(modest mouse),(the beatles),0.142513,0.270568,0.057487,0.403382,1.490870,0.018928,1.222611
8,(coldplay),(death cab for cutie),0.153873,0.176592,0.063339,0.411633,2.330983,0.036166,1.399480
62,"(radiohead, m)",(the beatles),0.160413,0.270568,0.067470,0.420601,1.554511,0.024067,1.258946
32,(modest mouse),(radiohead),0.142513,0.230981,0.060241,0.422705,1.830043,0.027323,1.332108
41,(radiohead),(the beatles),0.230981,0.270568,0.100172,0.433681,1.602854,0.037676,1.288023
21,(death cab for cutie),(f),0.176592,0.305680,0.077108,0.436647,1.428446,0.023128,1.232478
12,(coldplay),(f),0.153873,0.305680,0.068158,0.442953,1.449075,0.021123,1.246430
49,(the shins),(the beatles),0.124957,0.270568,0.055766,0.446281,1.649423,0.021957,1.317332

В США с высокой уверенностью, если кто-то слушает metallica, beastie boys, jay-z, tom waits, то это мужчины
Есть нетривиальное правило, что мужчина, слушающий the beatles, с уверенностью 37% будет слушать radiohead

In [15]:
apriori_country = ml.apriori(artist_country, min_support=0.05, use_colnames=True)
apriori_country

      support                                    itemsets
0    0.057612                                       (air)
1    0.057612                               (andrew bird)
2    0.077567                         (animal collective)
3    0.069842                               (arcade fire)
4    0.064049                              (beastie boys)
..        ...                                         ...
180  0.053750  (modest mouse, the beatles, United States)
181  0.052784  (radiohead, sufjan stevens, United States)
182  0.093659     (radiohead, the beatles, United States)
183  0.054715       (radiohead, the shins, United States)
184  0.052140     (the shins, the beatles, United States)

[185 rows x 2 columns]

In [50]:
apriori_country_rules = ml.association_rules(apriori_country, metric="confidence", min_threshold=0.95)
apriori_country_rules.sort_values(['confidence', 'support'], ascending=True).head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
37,(nirvana),(United States),0.077889,0.934986,0.074026,0.950413,1.016500,0.001202,1.311125
5,(belle and sebastian),(United States),0.083682,0.934986,0.079820,0.953846,1.020172,0.001578,1.408647
14,(david bowie),(United States),0.091728,0.934986,0.087544,0.954386,1.020749,0.001780,1.425318
43,(radiohead),(United States),0.226263,0.934986,0.215964,0.954481,1.020851,0.004411,1.428287
26,(jack johnson),(United States),0.071130,0.934986,0.067911,0.954751,1.021140,0.001406,1.436820
22,(green day),(United States),0.071773,0.934986,0.068555,0.955157,1.021574,0.001448,1.449823
65,(tom waits),(United States),0.064693,0.934986,0.061796,0.955224,1.021646,0.001309,1.451990
51,(the beatles),(United States),0.264564,0.934986,0.252977,0.956204,1.022694,0.005614,1.484497
62,(the strokes),(United States),0.053428,0.934986,0.051175,0.957831,1.024434,0.001221,1.541772
60,(the smashing pumpkins),(United States),0.077567,0.934986,0.074348,0.958506,1.025156,0.001824,1.566849
64,(the who),(United States),0.055037,0.934986,0.052784,0.959064,1.025753,0.001325,1.588211
46,(sigur rós),(United States),0.082073,0.934986,0.078854,0.960784,1.027593,0.002117,1.657869
52,(the clash),(United States),0.066302,0.934986,0.063727,0.961165,1.028000,0.001736,1.674123
1,(animal collective),(United States),0.077567,0.934986,0.074670,0.962656,1.029594,0.002146,1.740943
31,(led zeppelin),(United States),0.104281,0.934986,0.100418,0.962963,1.029923,0.002918,1.755391
69,"(coldplay, death cab for cutie)",(United States),0.061474,0.934986,0.059221,0.963351,1.030338,0.001744,1.773967
11,(broken social scene),(United States),0.063405,0.934986,0.061152,0.964467,1.031531,0.001869,1.829693
78,"(radiohead, sufjan stevens)",(United States),0.054715,0.934986,0.052784,0.964706,1.031787,0.001626,1.842077
72,"(radiohead, death cab for cutie)",(United States),0.065014,0.934986,0.062762,0.965347,1.032472,0.001974,1.876132
13,(coldplay),(United States),0.149018,0.934986,0.143869,0.965443,1.032575,0.004539,1.881357

In [51]:
apriori_country_rules = ml.association_rules(apriori_country, metric="confidence", min_threshold=0.99)
apriori_country_rules.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(brand new),(United States),0.061796,0.934986,0.061796,1.000000,1.069535,0.004018,inf
10,(the decemberists),(United States),0.085291,0.934986,0.085291,1.000000,1.069535,0.005545,inf
2,(bright eyes),(United States),0.081107,0.934986,0.080785,0.996032,1.065291,0.004951,16.383650
5,(jay-z),(United States),0.059543,0.934986,0.059221,0.994595,1.063754,0.003549,12.027679
3,(cake),(United States),0.056646,0.934986,0.056324,0.994318,1.063458,0.003361,11.442549
8,(regina spektor),(United States),0.055681,0.934986,0.055359,0.994220,1.063353,0.003298,11.247506
4,(interpol),(United States),0.054715,0.934986,0.054393,0.994118,1.063244,0.003235,11.052462
9,(tegan and sara),(United States),0.054071,0.934986,0.053750,0.994048,1.063169,0.003194,10.922433
7,(paramore),(United States),0.053750,0.934986,0.053428,0.994012,1.063131,0.003173,10.857419
12,"(the shins, the beatles)",(United States),0.052462,0.934986,0.052140,0.993865,1.062974,0.003089,10.597361
11,"(the beatles, beck)",(United States),0.051818,0.934986,0.051497,0.993789,1.062892,0.003047,10.467332
6,(johnny cash),(United States),0.073383,0.934986,0.072739,0.991228,1.060153,0.004127,7.411651
0,(arcade fire),(United States),0.069842,0.934986,0.069199,0.990783,1.059678,0.003897,7.054071

Со 100% уверенностью, если если кто-то слушает исполнителей brand new, и the decemberists, то это житель США<br>
Нетривиальное правило: с уверенностью 96% слушатели coldplay и death cab for cutie из United States

FP-Growth

In [17]:
fpgrowth_artist_sex_jp = ml.fpgrowth(artist_sex_japan, min_support=0.03, use_colnames=True)
fpgrowth_artist_sex_jp

      support                    itemsets
0    0.227723                         (f)
1    0.158416                 (radiohead)
2    0.059406                (jamiroquai)
3    0.054455     (the chemical brothers)
4    0.049505           (franz ferdinand)
..        ...                         ...
148  0.034653          (m, black sabbath)
149  0.034653                 (m, t. rex)
150  0.049505                  (björk, m)
151  0.034653          (avril lavigne, m)
152  0.039604  (the smashing pumpkins, m)

[153 rows x 2 columns]

In [52]:
fpgrowth_artist_sex_rules_jp = ml.association_rules(fpgrowth_artist_sex_jp, metric="confidence", min_threshold=0.85)
fpgrowth_artist_sex_rules_jp.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
8,(led zeppelin),(m),0.059406,0.772277,0.059406,1.000000,1.294872,0.013528,inf
23,(maroon 5),(m),0.039604,0.772277,0.039604,1.000000,1.294872,0.009019,inf
15,(beck),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
19,(charlie parker),(m),0.039604,0.772277,0.039604,1.000000,1.294872,0.009019,inf
20,(bob dylan),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
21,(judas priest),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
22,(rush),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
18,(metallica),(m),0.049505,0.772277,0.049505,1.000000,1.294872,0.011273,inf
6,(nirvana),(m),0.059406,0.772277,0.059406,1.000000,1.294872,0.013528,inf
5,(frank zappa),(m),0.034653,0.772277,0.034653,1.000000,1.294872,0.007891,inf
10,(squarepusher),(m),0.059406,0.772277,0.054455,0.916667,1.186966,0.008578,2.732673
2,(michael jackson),(m),0.054455,0.772277,0.049505,0.909091,1.177156,0.007450,2.504950
13,(jack johnson),(m),0.049505,0.772277,0.044554,0.900000,1.165385,0.006323,2.277228
4,(black eyed peas),(m),0.044554,0.772277,0.039604,0.888889,1.150997,0.005196,2.049505
14,(tom waits),(m),0.044554,0.772277,0.039604,0.888889,1.150997,0.005196,2.049505
17,(the doors),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
24,(black sabbath),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
0,(the rolling stones),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
16,(bob marley & the wailers),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
1,(steely dan),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
12,(ne-yo),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
11,(elliott smith),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
9,(john coltrane),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
7,(herbie hancock),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
25,(t. rex),(m),0.039604,0.772277,0.034653,0.875000,1.133013,0.004068,1.821782
3,(underworld),(m),0.069307,0.772277,0.059406,0.857143,1.109890,0.005882,1.594059

In [63]:
fpgrowth_artist_sex_rules_jp = ml.association_rules(fpgrowth_artist_sex_jp, metric="confidence", min_threshold=0.55)
fpgrowth_artist_sex_rules_jp.sort_values(['confidence', 'support'], ascending=True).head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
42,(belle and sebastian),(radiohead),0.059406,0.158416,0.034653,0.583333,3.682292,0.025243,2.019802
50,(coldplay),(m),0.079208,0.772277,0.049505,0.625000,0.809295,-0.011666,0.607261
0,(radiohead),(m),0.158416,0.772277,0.099010,0.625000,0.809295,-0.023331,0.607261
2,(the chemical brothers),(m),0.054455,0.772277,0.034653,0.636364,0.824009,-0.007401,0.626238
18,(sonic youth),(radiohead),0.054455,0.158416,0.034653,0.636364,4.017045,0.026027,2.314356
19,(sonic youth),(m),0.054455,0.772277,0.034653,0.636364,0.824009,-0.007401,0.626238
17,(mogwai),(m),0.059406,0.772277,0.039604,0.666667,0.863248,-0.006274,0.683168
55,(björk),(m),0.074257,0.772277,0.049505,0.666667,0.863248,-0.007842,0.683168
13,(death cab for cutie),(m),0.064356,0.772277,0.044554,0.692308,0.896450,-0.005147,0.740099
10,(massive attack),(m),0.049505,0.772277,0.034653,0.700000,0.906410,-0.003578,0.759076
16,(aphex twin),(m),0.069307,0.772277,0.049505,0.714286,0.924908,-0.004019,0.797030
22,(my bloody valentine),(m),0.059406,0.772277,0.044554,0.750000,0.971154,-0.001323,0.910891
11,(red hot chili peppers),(m),0.044554,0.772277,0.034653,0.777778,1.007123,0.000245,1.024752
29,(sufjan stevens),(m),0.044554,0.772277,0.034653,0.777778,1.007123,0.000245,1.024752
51,(alicia keys),(m),0.044554,0.772277,0.034653,0.777778,1.007123,0.000245,1.024752
56,(avril lavigne),(m),0.044554,0.772277,0.034653,0.777778,1.007123,0.000245,1.024752
41,(norah jones),(m),0.069307,0.772277,0.054455,0.785714,1.017399,0.000931,1.062706
7,(prince),(m),0.049505,0.772277,0.039604,0.800000,1.035897,0.001372,1.138614
14,(green day),(m),0.049505,0.772277,0.039604,0.800000,1.035897,0.001372,1.138614
28,(u2),(m),0.049505,0.772277,0.039604,0.800000,1.035897,0.001372,1.138614

100% уверенность у тех же ассоциативных правил, что и при алгоритме apriory<br>
Нетривиальное правило: с уверенностью 58% слушатель (belle and sebastian) также слушает (radiohead)

In [19]:
fpgrowth_artist_sex_usa = ml.fpgrowth(artist_sex_usa, min_support=0.05, use_colnames=True)
fpgrowth_artist_sex_usa

      support              itemsets
0    0.694320                   (m)
1    0.230981           (radiohead)
2    0.079862   (animal collective)
3    0.074010         (arcade fire)
4    0.067126        (beastie boys)
..        ...                   ...
144  0.061962        (m, daft punk)
145  0.052668            (m, jay-z)
146  0.050258        (m, metallica)
147  0.067470  (m, nine inch nails)
148  0.051635         (m, gorillaz)

[149 rows x 2 columns]

In [66]:
fpgrowth_artist_sex_rules_usa = ml.association_rules(fpgrowth_artist_sex_usa, metric="confidence", min_threshold=0.55)
fpgrowth_artist_sex_rules_usa.sort_values(['confidence', 'support'], ascending=True).head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
10,(coldplay),(m),0.153873,0.694320,0.085714,0.557047,0.802291,-0.021123,0.690095
22,(bob dylan),(the beatles),0.104647,0.270568,0.058864,0.562500,2.078960,0.030550,1.667273
20,(death cab for cutie),(m),0.176592,0.694320,0.099484,0.563353,0.811373,-0.023128,0.700061
5,(beck),(radiohead),0.109811,0.230981,0.061962,0.564263,2.442899,0.036598,1.764871
14,(belle and sebastian),(m),0.085370,0.694320,0.050258,0.588710,0.847894,-0.009016,0.743222
24,(the killers),(m),0.089845,0.694320,0.053012,0.590038,0.849807,-0.009369,0.745630
13,(the decemberists),(m),0.091222,0.694320,0.054389,0.596226,0.858720,-0.008948,0.757058
29,(elliott smith),(m),0.086403,0.694320,0.051635,0.597610,0.860712,-0.008356,0.759660
27,(sufjan stevens),(m),0.113597,0.694320,0.068158,0.600000,0.864155,-0.010715,0.764200
4,(the beatles),(m),0.270568,0.694320,0.178313,0.659033,0.949178,-0.009548,0.896509
17,(the white stripes),(m),0.096041,0.694320,0.064028,0.666667,0.960172,-0.002656,0.917040
6,(beck),(m),0.109811,0.694320,0.073322,0.667712,0.961677,-0.002922,0.919923
2,(animal collective),(m),0.079862,0.694320,0.053356,0.668103,0.962241,-0.002094,0.921009
11,(modest mouse),(m),0.142513,0.694320,0.095697,0.671498,0.967130,-0.003253,0.930525
7,(david bowie),(m),0.093632,0.694320,0.062995,0.672794,0.968997,-0.002016,0.934213
1,"(radiohead, the beatles)",(m),0.100172,0.694320,0.067470,0.673540,0.970071,-0.002082,0.936346
23,(red hot chili peppers),(m),0.099828,0.694320,0.067470,0.675862,0.973416,-0.001843,0.943055
12,(kanye west),(m),0.117040,0.694320,0.079862,0.682353,0.982764,-0.001401,0.962325
31,(sigur rós),(m),0.084337,0.694320,0.057831,0.685714,0.987605,-0.000726,0.972618
26,(green day),(m),0.073322,0.694320,0.050602,0.690141,0.993981,-0.000306,0.986512

In [67]:
fpgrowth_artist_sex_rules_usa = ml.association_rules(fpgrowth_artist_sex_usa, metric="confidence", min_threshold=0.6)
fpgrowth_artist_sex_rules_usa.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
26,(metallica),(m),0.058176,0.69432,0.050258,0.863905,1.244246,0.009866,2.246082
3,(beastie boys),(m),0.067126,0.69432,0.057143,0.851282,1.226066,0.010536,2.055434
25,(jay-z),(m),0.063339,0.69432,0.052668,0.831522,1.197606,0.008690,1.814358
8,(tom waits),(m),0.066093,0.69432,0.054733,0.828125,1.192713,0.008844,1.778501
14,(the rolling stones),(m),0.081239,0.69432,0.065749,0.809322,1.165632,0.009343,1.603121
21,(pink floyd),(m),0.110843,0.69432,0.088812,0.801242,1.153995,0.011852,1.537952
11,(johnny cash),(m),0.077797,0.69432,0.060241,0.774336,1.115244,0.006225,1.354581
12,(led zeppelin),(m),0.107401,0.69432,0.082960,0.772436,1.112507,0.008390,1.343269
27,(nine inch nails),(m),0.089157,0.69432,0.067470,0.756757,1.089925,0.005567,1.256684
15,(the clash),(m),0.068158,0.69432,0.050602,0.742424,1.069282,0.003279,1.186757
24,(daft punk),(m),0.085714,0.69432,0.061962,0.722892,1.041150,0.002449,1.103106
22,(nirvana),(m),0.079174,0.69432,0.057143,0.721739,1.039490,0.002171,1.098537
28,(gorillaz),(m),0.071601,0.69432,0.051635,0.721154,1.038647,0.001921,1.096231
7,(pixies),(m),0.088124,0.69432,0.063339,0.718750,1.035185,0.002153,1.086862
18,(the smashing pumpkins),(m),0.079518,0.69432,0.056454,0.709957,1.022521,0.001243,1.053911
16,(bob dylan),(m),0.104647,0.69432,0.073322,0.700658,1.009128,0.000663,1.021172
0,(radiohead),(m),0.230981,0.69432,0.160413,0.694486,1.000239,0.000038,1.000542
19,(green day),(m),0.073322,0.69432,0.050602,0.690141,0.993981,-0.000306,0.986512
23,(sigur rós),(m),0.084337,0.69432,0.057831,0.685714,0.987605,-0.000726,0.972618
10,(kanye west),(m),0.117040,0.69432,0.079862,0.682353,0.982764,-0.001401,0.962325
17,(red hot chili peppers),(m),0.099828,0.69432,0.067470,0.675862,0.973416,-0.001843,0.943055
1,"(radiohead, the beatles)",(m),0.100172,0.69432,0.067470,0.673540,0.970071,-0.002082,0.936346
6,(david bowie),(m),0.093632,0.69432,0.062995,0.672794,0.968997,-0.002016,0.934213
9,(modest mouse),(m),0.142513,0.69432,0.095697,0.671498,0.967130,-0.003253,0.930525
2,(animal collective),(m),0.079862,0.69432,0.053356,0.668103,0.962241,-0.002094,0.921009
5,(beck),(m),0.109811,0.69432,0.073322,0.667712,0.961677,-0.002922,0.919923
13,(the white stripes),(m),0.096041,0.69432,0.064028,0.666667,0.960172,-0.002656,0.917040
4,(the beatles),(m),0.270568,0.69432,0.178313,0.659033,0.949178,-0.009548,0.896509
20,(sufjan stevens),(m),0.113597,0.69432,0.068158,0.600000,0.864155,-0.010715,0.764200

Высокая уверенность у тех же ассоциативных правил, что и при алгоритме apriory<br>
С вероятностью 56% слушатели (bob dylan) также слушают (the beatles)

In [21]:
fpgrowth_country = ml.fpgrowth(artist_country, min_support=0.05, use_colnames=True)
fpgrowth_country

      support                          itemsets
0    0.934986                   (United States)
1    0.226263                       (radiohead)
2    0.077567               (animal collective)
3    0.069842                     (arcade fire)
4    0.064049                    (beastie boys)
..        ...                               ...
180  0.073383             (muse, United States)
181  0.054393        (metallica, United States)
182  0.083360  (nine inch nails, United States)
183  0.066946         (gorillaz, United States)
184  0.053750   (tegan and sara, United States)

[185 rows x 2 columns]

In [68]:
fpgrowth_country_rules = ml.association_rules(fpgrowth_country, metric="confidence", min_threshold=0.99)
fpgrowth_country_rules.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
5,(the decemberists),(United States),0.085291,0.934986,0.085291,1.000000,1.069535,0.005545,inf
11,(brand new),(United States),0.061796,0.934986,0.061796,1.000000,1.069535,0.004018,inf
8,(bright eyes),(United States),0.081107,0.934986,0.080785,0.996032,1.065291,0.004951,16.383650
9,(jay-z),(United States),0.059543,0.934986,0.059221,0.994595,1.063754,0.003549,12.027679
7,(cake),(United States),0.056646,0.934986,0.056324,0.994318,1.063458,0.003361,11.442549
2,(regina spektor),(United States),0.055681,0.934986,0.055359,0.994220,1.063353,0.003298,11.247506
3,(interpol),(United States),0.054715,0.934986,0.054393,0.994118,1.063244,0.003235,11.052462
12,(tegan and sara),(United States),0.054071,0.934986,0.053750,0.994048,1.063169,0.003194,10.922433
10,(paramore),(United States),0.053750,0.934986,0.053428,0.994012,1.063131,0.003173,10.857419
4,"(the shins, the beatles)",(United States),0.052462,0.934986,0.052140,0.993865,1.062974,0.003089,10.597361
1,"(the beatles, beck)",(United States),0.051818,0.934986,0.051497,0.993789,1.062892,0.003047,10.467332
6,(johnny cash),(United States),0.073383,0.934986,0.072739,0.991228,1.060153,0.004127,7.411651
0,(arcade fire),(United States),0.069842,0.934986,0.069199,0.990783,1.059678,0.003897,7.054071

In [70]:
fpgrowth_country_rules = ml.association_rules(fpgrowth_country, metric="confidence", min_threshold=0.5)
fpgrowth_country_rules.sort_values(['confidence', 'support'], ascending=True).head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
69,(sufjan stevens),(radiohead),0.109108,0.226263,0.054715,0.501475,2.216334,0.030028,1.552052
15,"(United States, beck)",(the beatles),0.102671,0.264564,0.051497,0.501567,1.895827,0.024333,1.475498
47,(led zeppelin),(the beatles),0.104281,0.264564,0.052462,0.503086,1.901569,0.024873,1.480008
49,"(led zeppelin, United States)",(the beatles),0.100418,0.264564,0.050853,0.506410,1.914132,0.024286,1.489974
61,(bob dylan),"(the beatles, United States)",0.100097,0.252977,0.055037,0.549839,2.173474,0.029715,1.659458
13,(beck),"(radiohead, United States)",0.104924,0.215964,0.057934,0.552147,2.556664,0.035274,1.750656
58,(bob dylan),(the beatles),0.100097,0.264564,0.056003,0.559486,2.114746,0.029521,1.669494
60,"(bob dylan, United States)",(the beatles),0.097844,0.264564,0.055037,0.562500,2.126141,0.029151,1.680997
12,"(United States, beck)",(radiohead),0.102671,0.226263,0.057934,0.564263,2.493835,0.034703,1.775698
10,(beck),(radiohead),0.104924,0.226263,0.059221,0.564417,2.494515,0.035481,1.776325
92,(björk),(United States),0.060830,0.934986,0.056003,0.920635,0.984652,-0.000873,0.819182
87,(daft punk),(United States),0.085613,0.934986,0.080142,0.936090,1.001182,0.000095,1.017285
77,(sonic youth),(United States),0.055681,0.934986,0.052140,0.936416,1.001530,0.000080,1.022501
7,(air),(United States),0.057612,0.934986,0.054393,0.944134,1.009785,0.000527,1.163759
94,(metallica),(United States),0.057612,0.934986,0.054393,0.944134,1.009785,0.000527,1.163759
52,(u2),(United States),0.060187,0.934986,0.056968,0.946524,1.012341,0.000694,1.215771
73,(nirvana),(United States),0.077889,0.934986,0.074026,0.950413,1.016500,0.001202,1.311125
42,(belle and sebastian),(United States),0.083682,0.934986,0.079820,0.953846,1.020172,0.001578,1.408647
16,(david bowie),(United States),0.091728,0.934986,0.087544,0.954386,1.020749,0.001780,1.425318
0,(radiohead),(United States),0.226263,0.934986,0.215964,0.954481,1.020851,0.004411,1.428287

100% уверенность у тех же ассоциативных правил, что и при алгоритме apriory<br>
С уверенностью 56% слушатель bob dylan из США будет также слушать (the beatles)

FPMax

In [23]:
fpmax_artist_sex_jp = ml.fpmax(artist_sex_japan, min_support=0.03, use_colnames=True)
fpmax_artist_sex_jp

     support                  itemsets
0   0.034653            (modest mouse)
1   0.034653           (talking heads)
2   0.034653              (pink floyd)
3   0.034653          (m, frank zappa)
4   0.034653         (judas priest, m)
..       ...                       ...
89  0.044554  (radiohead, the beatles)
90  0.059406            (radiohead, f)
91  0.099010            (radiohead, m)
92  0.034653          (f, the beatles)
93  0.143564          (m, the beatles)

[94 rows x 2 columns]

In [24]:
fpmax_artist_sex_rules_jp = ml.association_rules(fpmax_artist_sex_jp, metric="support", min_threshold=0.04, support_only=True)
fpmax_artist_sex_rules_jp.sort_values('support', ascending=False).head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
49,(the beatles),(m),NaN,NaN,0.143564,NaN,NaN,NaN,NaN
48,(m),(the beatles),NaN,NaN,0.143564,NaN,NaN,NaN,NaN
47,(m),(radiohead),NaN,NaN,0.099010,NaN,NaN,NaN,NaN
46,(radiohead),(m),NaN,NaN,0.099010,NaN,NaN,NaN,NaN
41,(miles davis),(m),NaN,NaN,0.069307,NaN,NaN,NaN,NaN

У данного алгоритма самая высокая поддержка у правил m -> the beatles, the beatles -> m. Что не было обнаружено в предыдущих алгоритмах

In [25]:
fpmax_artist_sex_usa = ml.fpmax(artist_sex_usa, min_support=0.05, use_colnames=True)
fpmax_artist_sex_usa

      support                     itemsets
0    0.050602        (the magnetic fields)
1    0.050602         (taking back sunday)
2    0.050602           (boards of canada)
3    0.050947             (the beach boys)
4    0.050947          (simon & garfunkel)
..        ...                          ...
104  0.077108     (death cab for cutie, f)
105  0.099484     (death cab for cutie, m)
106  0.070568               (radiohead, f)
107  0.067470  (radiohead, m, the beatles)
108  0.092255             (f, the beatles)

[109 rows x 2 columns]

In [26]:
fpmax_artist_sex_rules_usa = ml.association_rules(fpmax_artist_sex_usa, metric="support", min_threshold=0.07, support_only=True)
fpmax_artist_sex_rules_usa.sort_values('support', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
17,(m),(death cab for cutie),NaN,NaN,0.099484,NaN,NaN,NaN,NaN
16,(death cab for cutie),(m),NaN,NaN,0.099484,NaN,NaN,NaN,NaN
11,(modest mouse),(m),NaN,NaN,0.095697,NaN,NaN,NaN,NaN
10,(m),(modest mouse),NaN,NaN,0.095697,NaN,NaN,NaN,NaN
20,(f),(the beatles),NaN,NaN,0.092255,NaN,NaN,NaN,NaN
21,(the beatles),(f),NaN,NaN,0.092255,NaN,NaN,NaN,NaN
6,(m),(pink floyd),NaN,NaN,0.088812,NaN,NaN,NaN,NaN
7,(pink floyd),(m),NaN,NaN,0.088812,NaN,NaN,NaN,NaN
12,(coldplay),(m),NaN,NaN,0.085714,NaN,NaN,NaN,NaN
13,(m),(coldplay),NaN,NaN,0.085714,NaN,NaN,NaN,NaN
3,(led zeppelin),(m),NaN,NaN,0.082960,NaN,NaN,NaN,NaN
2,(m),(led zeppelin),NaN,NaN,0.082960,NaN,NaN,NaN,NaN
8,(kanye west),(m),NaN,NaN,0.079862,NaN,NaN,NaN,NaN
9,(m),(kanye west),NaN,NaN,0.079862,NaN,NaN,NaN,NaN
14,(death cab for cutie),(f),NaN,NaN,0.077108,NaN,NaN,NaN,NaN
15,(f),(death cab for cutie),NaN,NaN,0.077108,NaN,NaN,NaN,NaN
5,(beck),(m),NaN,NaN,0.073322,NaN,NaN,NaN,NaN
1,(bob dylan),(m),NaN,NaN,0.073322,NaN,NaN,NaN,NaN
4,(m),(beck),NaN,NaN,0.073322,NaN,NaN,NaN,NaN
0,(m),(bob dylan),NaN,NaN,0.073322,NaN,NaN,NaN,NaN
18,(radiohead),(f),NaN,NaN,0.070568,NaN,NaN,NaN,NaN
19,(f),(radiohead),NaN,NaN,0.070568,NaN,NaN,NaN,NaN

Наибольшая поддержка у правил (m) -> (death cab for cutie), (death cab for cutie) -> (m). И появились правила с высокой поддержкой связанные с женским полом, что не было обнаружено в предыдущих алгоритмах

In [27]:
fpmax_country = ml.fpmax(artist_country, min_support=0.04, use_colnames=True)
fpmax_country

      support                                           itemsets
0    0.040232                               (the mountain goats)
1    0.040554                                          (madonna)
2    0.040554                                        (the roots)
3    0.040554                                          (ramones)
4    0.040554                     (alkaline trio, United States)
..        ...                                                ...
131  0.054715               (coldplay, radiohead, United States)
132  0.059221     (coldplay, death cab for cutie, United States)
133  0.062762    (radiohead, death cab for cutie, United States)
134  0.063727  (death cab for cutie, the beatles, United States)
135  0.093659            (radiohead, the beatles, United States)

[136 rows x 2 columns]

In [28]:
fpmax_country_rules = ml.association_rules(fpmax_country, metric="support", min_threshold=0.07, support_only=True)
fpmax_country_rules.sort_values('support', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
30,(kanye west),(United States),NaN,NaN,0.109430,NaN,NaN,NaN,NaN
31,(United States),(kanye west),NaN,NaN,0.109430,NaN,NaN,NaN,NaN
33,"(radiohead, United States)",(the beatles),NaN,NaN,0.093659,NaN,NaN,NaN,NaN
32,"(radiohead, the beatles)",(United States),NaN,NaN,0.093659,NaN,NaN,NaN,NaN
37,(United States),"(radiohead, the beatles)",NaN,NaN,0.093659,NaN,NaN,NaN,NaN
34,"(the beatles, United States)",(radiohead),NaN,NaN,0.093659,NaN,NaN,NaN,NaN
35,(radiohead),"(the beatles, United States)",NaN,NaN,0.093659,NaN,NaN,NaN,NaN
36,(the beatles),"(radiohead, United States)",NaN,NaN,0.093659,NaN,NaN,NaN,NaN
29,(United States),(red hot chili peppers),NaN,NaN,0.093338,NaN,NaN,NaN,NaN
28,(red hot chili peppers),(United States),NaN,NaN,0.093338,NaN,NaN,NaN,NaN
23,(United States),(the decemberists),NaN,NaN,0.085291,NaN,NaN,NaN,NaN
22,(the decemberists),(United States),NaN,NaN,0.085291,NaN,NaN,NaN,NaN
27,(the killers),(United States),NaN,NaN,0.084004,NaN,NaN,NaN,NaN
26,(United States),(the killers),NaN,NaN,0.084004,NaN,NaN,NaN,NaN
21,(United States),(nine inch nails),NaN,NaN,0.083360,NaN,NaN,NaN,NaN
20,(nine inch nails),(United States),NaN,NaN,0.083360,NaN,NaN,NaN,NaN
18,(pixies),(United States),NaN,NaN,0.082395,NaN,NaN,NaN,NaN
19,(United States),(pixies),NaN,NaN,0.082395,NaN,NaN,NaN,NaN
15,(elliott smith),(United States),NaN,NaN,0.080785,NaN,NaN,NaN,NaN
14,(United States),(elliott smith),NaN,NaN,0.080785,NaN,NaN,NaN,NaN
13,(United States),(bright eyes),NaN,NaN,0.080785,NaN,NaN,NaN,NaN
12,(bright eyes),(United States),NaN,NaN,0.080785,NaN,NaN,NaN,NaN
24,(daft punk),(United States),NaN,NaN,0.080142,NaN,NaN,NaN,NaN
25,(United States),(daft punk),NaN,NaN,0.080142,NaN,NaN,NaN,NaN
17,(United States),(belle and sebastian),NaN,NaN,0.079820,NaN,NaN,NaN,NaN
16,(belle and sebastian),(United States),NaN,NaN,0.079820,NaN,NaN,NaN,NaN
11,(United States),(the rolling stones),NaN,NaN,0.075958,NaN,NaN,NaN,NaN
10,(the rolling stones),(United States),NaN,NaN,0.075958,NaN,NaN,NaN,NaN
7,(animal collective),(United States),NaN,NaN,0.074670,NaN,NaN,NaN,NaN
6,(United States),(animal collective),NaN,NaN,0.074670,NaN,NaN,NaN,NaN
9,(United States),(nirvana),NaN,NaN,0.074026,NaN,NaN,NaN,NaN
8,(nirvana),(United States),NaN,NaN,0.074026,NaN,NaN,NaN,NaN
3,(iron & wine),(United States),NaN,NaN,0.074026,NaN,NaN,NaN,NaN
2,(United States),(iron & wine),NaN,NaN,0.074026,NaN,NaN,NaN,NaN
5,(United States),(muse),NaN,NaN,0.073383,NaN,NaN,NaN,NaN
4,(muse),(United States),NaN,NaN,0.073383,NaN,NaN,NaN,NaN
1,(United States),(johnny cash),NaN,NaN,0.072739,NaN,NaN,NaN,NaN
0,(johnny cash),(United States),NaN,NaN,0.072739,NaN,NaN,NaN,NaN

Наибольшая поддержка у правил (kanye west) -> (United States), (United States) -> (kanye west). Данного правила не было обнаружено с такой высокой поддержкой в остальных алгоритмах