### Student Performance Data Set  
Набор данных предназначен для предсказания успеваемости учащихся старшей школы (10-12 класс) в Португалии. Данные представлены в двух файлах, отражающих успехи в двух разных дисциплинах (Математике и Португальском)<br>
Исследование: http://www3.dsi.uminho.pt/pcortez/student.pdf
#### Описание показателей
school - школа (бинарный: 'GP' - Gabriel Pereira или 'MS' - Mousinho da Silveira)<br>
sex - пол учащегося (бинарный: 'F' - female или 'M' - male)<br>
age - возраст учащегося (абсолютный: от 15 до 22)<br>
address - тип домашнего адреса учащегося (бинарный: 'U' - urban/городской или 'R' - rural/загородный)<br>
famsize - количество членов семьи (бинарный: 'LE3' - меньше или равно 3, 'GT3' - больше 3)<br>
Pstatus - статус совместного проживания родителей (бинарный: 'T' - living together/живут вместе, 'A' - apart/раздельно)<br>
Medu - образование матери (номинальный: 0 - нет, 1 - начальное (4 класса), 2 - 5-9 классов, 3 - среднее, 4 - высшее)<br>
Fedu - образование отца (номинальный: 0 - нет, 1 - начальное (4 класса), 2 - 5-9 классов, 3 - среднее, 4 - высшее)<br>
Mjob - работа матери (номинальный: 'teacher'/учитель, 'health' /сфера здравоохранения, 'services'/государственная служба (например администрация или полиция), 'at_home'/на дому, 'other'/другое)<br>
Fjob - работа отца (номинальный: 'teacher'/учитель, 'health' /сфера здравоохранения, 'services'/государственная служба (например администрация или полиция), 'at_home'/на дому, 'other'/другое)<br>
reason - причина выбора этой школы (номинальный: 'home'/близко к дому, 'reputation'/репутация школы, 'course'/предпочтения курса, 'other'/другое)<br>
guardian - опекун учащегося (номинальный: 'mother', 'father', 'other')<br>
traveltime - время от дома до школы (порядковый: 1 - <15 мин., 2 - от 15 до 30 мин., 3 - от 30 мин. до 1 часа,  4 - >1 часа)<br>
studytime - время учебы в неделю (порядковый: 1 - <2 часов, 2 - от 2 до 5 часов, 3 - от 5 до 10 часов,  4 - >10 часов)<br>
failures - количество прошлых провалов в классе (порядковый: n if 1<=n<3, else 4)<br>
schoolsup - посещает ли дополнительные занятия в школе (бинарный: yes, no)<br>
famsup - помогает ли семья в обучении (бинарный: yes, no)<br>
paid - посещает ли дополнительные оплачиваемые занятия по предмету курса (Математика или Португальский) (бинарный: yes, no)<br>
activities - посешает ли внеклассные занятия (бинарный: yes, no)<br>
nursery - посещал ли детский сад (бинарный: yes, no)<br>
higher - собирается ли получать высшее образование (бинарный: yes, no)<br>
internet - есть ли доступ в интернет дома (бинарный: yes, no)<br>
romantic - есть ли отношения (бинарный: yes, no)<br>
famrel - качество взаимоотношения в семье (интервальный: от 1 - очень плохо до 5 - великолепно)<br>
freetime - свободного времени после школы (интервальный: от 1 - очень мало до 5 - очень много)<br>
goout - прогулки с друзьями (интервальный: от 1 - очень мало до 5 - очень много)<br>
Dalc - потребление алкоголя в течение рабочего дня (интервальный: от 1 - очень мало до 5 - очень много)<br>
Walc - потребление алкоголя в выходные дни (интервальный: от 1 - очень мало до 5 - очень много)<br>
health - текущее состояние здоровья (интервальный: от 1 - очень плохое до 5 - очень хорошее)<br>
absences - количество пропусков занятий в школе (порядковый: от 0 до 93)<br>

(это оценки связаны с предметом курса, математикой или португальским языком)<br>
G1 - оценка за первый период обучение (абсолютный: от 0 до 20)<br>
G2 - оценка за второй период обучения (абсолютный: от 0 до 20)<br>
G3 - финальная оценка (абсолютный: от 0 до 20)<br>

In [4]:
import numpy as np
import pandas as pd

In [6]:
# загружаем данные по курсу математики
students_m = pd.read_csv('student-mat.csv', sep=';')
students_m.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [5]:
# загружаем данные по курсу португальскому
students_p = pd.read_csv('student-por.csv', sep=';')
students_p.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13